* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22303b
}

.flex-climate {
    position: relative; 
    width: 400px;
    height: 570px;
    border-radius: 20px;
    padding: 0;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-out;
    background-color: aliceblue; /* Cor de fundo, opcional */
    background-size: cover;
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
}

.overlay {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 350px;
    height: 470px;
    border-radius: 20px;
    background-color: rgba(238, 230, 230, 0.3); 
    z-index: 1; 
    transform: translate(-50%, -50%); 
}

.top-container {
    display: flex;
    justify-content: right;
    margin: 40px 20px; /* Adiciona espaço acima dos botões */
}

.top-container button {
    cursor: pointer;
    background-color: transparent;
    margin-left: 20px;
}

i {
    font-size: 30px;
    color: #06283D;
}

i:hover {
    color: #9c8b8a;
}


.bottom-container {
    display: grid;
    margin-left: 10px;
    width: 95%;
    height: 78%;
    border-radius: 10px;
}

.weather-box{
    text-align: center;
}

.weather-box img{
    width: 60%;
    margin-top: 10px;
}

.weather-box .temperature{
    position: relative;
    color: #06283D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 10px;
    margin-left: -16px;
}

.weather-box .description, .weather-box .cityname {
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.weather-details {
    width: 99%;
    margin-left: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas de tamanho igual */
    grid-template-rows: repeat(2, 100px); /* 2 linhas de 100px de altura */
    gap: 3px; /* Espaçamento entre os itens (opcional) */
}

.weather-details .humidity,
.weather-details .rain,
.weather-details .wind,
.weather-details .tide {
    display: flex;
    align-items: center;
    text-align: center;
    width: 95%;
    height: 100%; /* Ajuste para 100% para se adaptar à altura da linha */
}
.weather-details i {
    color: #ce1010;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.weather-details span {
    color: black;
    font-size: 18px;
    font-weight: 500;
}


.weather-details .tide .text span{
    color: black;
    font-size: 15px;
    font-weight: 500;
}

a {
    text-decoration: none; /* Remove underline do link */
    color: initial; /* Define a cor inicial */
}

.text:hover p, .text:hover span{
    color: rgb(55, 53, 177); 
}

.tide .text:hover p, .tide .text:hover span  {
    color: rgb(55, 53, 177); 
}

.warning-message {
    display: none; /* Inicialmente escondido */
    position: fixed; /* Fixa o alerta na tela, mesmo ao rolar a página */
    top: 20px; /* Localização no topo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta o alinhamento ao centro */
    padding: 15px 30px; /* Espaçamento interno */
    border-radius: 5px; /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    font-size: 16px; /* Tamanho da fonte */
    z-index: 1000; /* Para garantir que o alerta fique acima de outros elementos */
    font-family: 'Roboto', sans-serif;
    background-color: #ffcc00; /* Cor para calor */
    color: #333; /* Cor do texto (preto) */
    text-align: center;
}

.warning-hot {
    background-color: #ffcc00; /* Cor para calor */
    color: #333; /* Cor do texto (preto) */
}

.warning-cold {
    background-color: #007bff; /* Cor para frio */
    color: white; /* Cor do texto (preto) */
}
